@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inter' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5 !important;
}

.backgroundRed {
  background-color: #cc100f !important;
}

.backgroundGreen {
  background-color: green !important;
}

.backgroundBlack {
  background-color: black !important;
}

.menubar-brand h3,
.menubar-brand h6 {
  white-space: nowrap;
}

.menubar-brand img {
  height: 65px;
  width: 65px;
  padding-right: 10px;
}

.nav {
  position: sticky;
  top: 0;
  overflow-x: hidden;
  background-color: black;
  height: 100vh;
  width: 350px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all ease .5s !important;
  overflow: hidden !important;
}

.nav-link {
  transition: none !important;
  color: #fff !important;
}

.menubar-brand {
  border-top-right-radius: 10px;
  background-color: #cc100f;
  padding: 1rem;
}

.menubar-brand h3 {
  color: #fff;
}

#image-trigger {
  cursor: pointer;
}

.menubar-list {
  padding: 1rem;
}

.menubar-list .nav-link {
  margin-bottom: 0.5rem;
}

.nav .nav-link {
  color: #fff;
  padding: 1rem;
  text-align: left;
}

.navLinkPopup .nav-link {
  background-color: black;
  color: #fff;
  padding: 1rem;
  padding-left: 20px !important;
  text-align: left;
  width: 300px;
}

.navLinkPopup .nav-link:hover,
.navLinkPopup .nav-active {
  background-color: #cc100f;
  color: #fff;
}

.nav .nav-link:hover,
.nav-active {
  background-color: #cc100f;
  color: #fff;
  border-radius: 20px;
}

.nav .menubar-list svg {
  padding-right: 1rem;
}

.content {
  width: calc(100vw - 250px);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 915px) {
  .nav {
    width: 110px !important;
  }

  .navLinkPopup .nav-link {
    width: 60px !important;
  }

  .nav .menubar-list svg {
    padding-right: 0 !important;
    text-align: center !important;
    width: 100% !important;
  }

  .nav-link span,
  .menubar-brand h3,
  .menubar-brand h6 {
    display: none !important;
  }
}

@media screen and (max-width: 575px) {
  .content {
    width: calc(100vw - 110px);
  }

  .modal-dialog-centered {
    display: block !important;
    width: calc(100vw - 110px) !important;
  }

  .wrapper {
    width: 280px !important;
  }
}

@media screen and (max-width: 690px) {
  .formContainer {
    flex-direction: column;
    width: 100% !important;
  }

  .formContainer button,
  .formContainer select {
    margin-bottom: 1rem;
  }

  .formContainer label {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
}

.table {
  margin-top: 2rem;
  font-size: 12px;
}

/* LOGIN */
.logoImg img {
  width: 200px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #cc100f;
}

.login-container form {
  padding-top: 1rem;
  width: 400px;
  border-radius: 20px;
}

.titleLogin {
  text-align: center;
  color: black;
}

.input-group {
  position: relative;
}

.input {
  padding: 10px;
  width: 100%;
  max-width: inherit;
  box-sizing: border-box;
  outline: none;
  border: 1px solid black;
  transition: 0.5ms all;
  border-radius: 10px !important;
  background-color: transparent;
  color: black;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 8px;
  padding: 0px 5px;
  color: black !important;
  opacity: 1 !important;
  transition: 0.3s;
  pointer-events: none;
}

.input+.placeholder {
  top: -10px;
  color: black;
  background-color: #fff;
}

.input:focus {
  border: 1px solid #cc100f;
  color: black;
}

.input:focus+.placeholder {
  color: #cc100f !important;
}

.btn-pertama {
  background-color: black !important;
  color: #fff !important;
}

.btn-pertama:hover {
  background-color: #cc100f !important;
}

.wrapper {
  border-radius: 2rem;
  background-color: white;
  color: #d9d9d9;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

/* END LOGIN */

.status-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.formContainer {
  background-color: #ededed;
  padding: 1rem;
  border-radius: 10px;
}

.defaultBtn {
  width: 150px !important;
  background-color: #cc100f !important;
}

.breadcrumb {
  background-color: #ededed !important;
  padding: .3rem !important;
  width: fit-content;
  border-radius: 10px !important;
}

.breadcrumb ol {
  margin-bottom: 0;
}